.search-card{
    height: auto;
    width: 250px;
    margin:  0 25px;
    padding: 5px ;  
    border-radius: 15px; 
}
.Blog-card{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 1rem;
    margin:  auto;
   overflow-y: hidden;
}
.search-img{
    width: auto;
    height: 150px;
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 90px;
}
.cardtext-matches{
    font-size: 1.3rem;
    padding: 5px ;
    font-family: sans-serif;
}
.matches-heading{
    font-size: 2rem;
    font-weight: 700;
    font-family: sans-serif;
}
@media  only screen and (min-width:200px) and (max-width:576px){
    .Blog-card{
        display: grid;
        grid-template-columns:auto ;
        grid-gap: 15px;
       overflow-x: hidden;
       overflow-y: hidden;
       margin: 0px 0px ;
       
    }
    .search-img{
        width: 100%;
        height: auto;
        margin:3px auto;
    }
    .search-card{
        width: auto;
       height: auto;
       padding:  10px;
       margin:  0px;
    }
    .matches-heading{
        font-size: 1.6rem;
        font-weight: 600;
        font-family: sans-serif;
    }
}
@media  only screen and (min-width:576px) and (max-width:768px){
    .Blog-card{
       display: grid;
       grid-template-columns: 260px 260px;
       margin: auto;
       padding:auto;
     }
     .search-card{
        width: auto;
        height: auto;
       overflow-y: hidden;
       overflow-x: hidden;
    }
}
