.search-card{
    height: 240px;
    width: 250px;  
    padding: 0 0;
    border-radius: 15px;
}
.Blog-card{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
   overflow-y: hidden;
}
.search-img{
    width: 170x;
    height: 150px;
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 90px;
}
@media  only screen and (min-width:200px) and (max-width:576px){
    .Blog-card{
        display: grid;
        grid-template-columns: auto auto ;
       overflow-x: hidden;
       overflow-y: hidden;
      
      
    }
    .search-card{
        width: auto;
       height: 17rem;
       padding: auto;
    }
}
@media  only screen and (min-width:576px) and (max-width:768px){
    .Blog-card{
       display: grid;
       grid-template-columns: 260px 260px;
       margin: auto;
       padding:auto;
     }
     .search-card{
        width: auto;
        height: auto;
       overflow-y: hidden;
       overflow-x: hidden;
    }
    
}