.match-img{
    height: 10rem;
    width: auto;
}
.style{
    font-size: 1.6rem;
    font-family: sans-serif;
   
}
@media  only screen and (max-width:768px){
    .Match{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       margin-left: 7px;
    }
    .match-img{
        width:auto;
        height: 10rem;
    }
    .match-img1{
        width: auto;
        height: 11rem;
       
    }
}