.match-img{
    height: 10rem;
    width: auto;
}
.style{
    font-size: 1.6rem;
    font-family: sans-serif;
   
}
.team-img{
    width: 30%;
}
.heading-style{
    font-weight: 600;
    font-size: 1.8rem;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #f2f2f2;
    }

@media  only screen and (max-width:576px){
    .Match{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       margin-left: 7px;
    }
    .style{
        font-size: 1.3rem;
        font-family: sans-serif;
    }
    .team-img{
        width: 70%;
        margin-left: 3rem;
    }
    .heading-style{
    font-weight: 550;
    font-size: 1.3rem;
    }
    .match-img{
        width:auto;
        height: 10rem;
    }
    .match-img1{
        width: auto;
        height: 11rem;
       
    }
}
