.match-img{
    height: 10rem;
    width: auto;
}
.style{
    font-size: 1.6rem;
    font-family: sans-serif;
   
}
.heading-style{
    font-weight: 600;
    font-size: 1.8rem;
    }
@media  only screen and (max-width:576px){
    .Match{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       margin-left: 7px;
    }
    .style{
        font-size: 1.4rem;
        font-family: sans-serif;
       
    }
    .heading-style{
    font-weight: 580;
    font-size: 1.6rem;
    }
    .match-img{
        width:auto;
        height: 10rem;
    }
    .match-img1{
        width: auto;
        height: 11rem;
       
    }
}
