
.Home{
  background-image: linear-gradient(to right, #8e2de2, skyblue);
  height: 300px;
  width:100%;
  color: azure;
}
.Banner2{
  width: auto;
  margin-left: 20%;
}
.Home1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.H2text{
    color: blue;
    position: absolute;
    top: 200px;  
}
.H1text{
 position: absolute;
 top: 150px;
 font-family: 'serif' 
}
.Himg{
  height: 450px;
  float: inline-end;
  margin-right: 2rem;
}
.Heading-all{
  font-weight: 600;
  font-family: sans-serif;
  font-size: "1.6rem";
}
@media  only screen and (min-width:200px) and (max-width:576px){
  .Home{
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    height: 15rem;
    width:auto;
    overflow-x: hidden;
  }
  .Banner2{
    width: 20%;
    margin-left: 0px;
  }
  .Home1{
    justify-content: center;
    display: flex;
    align-items: center;
}
.font-serif{
  margin: auto;
}
.H1text{
  position: absolute;
  top: 180px;
 }
 .H2text{
  color: blue;
  position: absolute;
  top: 220px;
}
.Himg{
  height: 240px;
  margin-left: 5rem;
  float: inline-start;
}
.About{
  font-size: 1.3rem;
}
.Heading-all{
  font-weight: 600;
  font-family: sans-serif;
  font-size: "1.5rem";
}
}
@media  only screen and (min-width:577px) and (max-width:768px){
  .Himg{
    height: 240px;
    margin-left: 5rem;
    float: inline-start;
  }
  .Home1{
    display: flex;
    align-items: center;
    justify-content: center;
}
}


