/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
 overflow-x: hidden;
}
.logo {
  font-size: 1.5rem;
}
.menu {
  display: flex;
}
.menu a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
}
/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 550px) {
  .navbar {
   display: flex;
   flex-direction: column;
   align-items:flex-start ;
  }
  .menu {
    display: flex;
    flex-direction: row;
  }
  .menu a {
    margin-top: 10px;
   justify-content: space-evenly;
  }
}
