.Footer{
    background-color: white;
  margin-top: 0px;
  border-radius: 15px;
  width: auto;
}
.Txt-color{
  color: white;
 text-decoration: none;
 font-family: sans-serif;
 font-size: 1.3rem;
}
@media  only screen and (min-width:200px) and (max-width:576px){
.Footer{
  background-color: white;
  margin-top: 0px;
  border-radius: 10px;
}
.Media{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
 border-radius: 2px;
}
}
@media  only screen and (min-width:577px) and (max-width:768px){
  .Footer{
    background-color: white;
    margin-top: 0px;
  }
}