.Card-Main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  width: 18rem;
  margin: 5px 15px;
}
.card-text{
  font-size: 20px;
  font-family: sans-serif;
  }


@media  only screen and (min-width:200px) and (max-width:576px){
  .Card-Main{
    display: grid;
    grid-template-columns: auto ;
  
  }
  .card{
    width: auto;
    height: auto;
  }
  .card img{
   width: auto;
  }
  .card-text{
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 400;
  }
  .card-title{
    font-size:25px;
    font-weight: 600;
  }

}