.Dnews{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-gap: 15px;
 overflow-y: hidden;
}
.img{
   width: 50%;
}
.card1{
    width: 18rem;
    margin: 5px 15px;
    border-radius: 1rem;
  border-color:lightblue;
  box-shadow:  0 0 10px;
  
}
@media  only screen and (min-width:200px) and (max-width:420px){
    .Dnews{
        display: grid;
        grid-template-columns: auto ;
       margin: auto;
       overflow-x: hidden;
    }
    .card1{
        width: auto;
    height: 20rem;
    margin: 10px ;
    }
    .img{
        width: auto;
       
     }
}
@media  only screen and (min-width:421px) and (max-width:450px){
    .Dnews{
        display: grid;
        grid-template-columns: auto auto;
       margin: auto;
       overflow-x: hidden;
    }
    .card1{
        height: auto;
        width: auto;
    }
}
@media  only screen and (min-width:451px) and (max-width:576px){
    .Dnews{
        display: grid;
        grid-template-columns:  13rem 14rem;
        margin: auto;
        padding: auto;
       overflow-y: hidden;
    }
    .card1{
        height: auto;
        width: auto;
    }
}