.img-trend{
    height: 15rem;
    width: 15rem;
    margin-top: 2rem;
}
.trend-heading{
    font-size: 31px;
    font-weight: 700;
}

@media  only screen and (max-width:768px){
    .trending{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-left: 5px;
    }
    .img-trend{
       width: auto;
       height:10rem;
}
.trend-heading{
    font-weight: 600;
    font-size: 26px;
}

}